/* Variáveis globais */
:root {
    --primary-color: #00A5CF;
    --secondary-color: #F7C948;
    --accent1-color: #2F855A;
    --accent2-color: #FF6F61;
    --text-color: #333;
    --background-color: #f9f9f9;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Cabeçalho */
.main-header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header img {
    width: 80px;
    border-radius: 50%;
}

.main-header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.main-header nav 
