/* Reset Universal: Remove margens e preenchimentos padrão e define o box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: roboto, arial, Arial, sans-serif;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1 {
    color: #1de9d8;
    background-color: transparent;
    border-bottom: 2px solid #1de9d8;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    /* Abreviatura para branco */
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

img {
    border: 3px solid purple;
}

h1 {
    text-align: center;
    grid-column: 1 / 3;
    margin-top: 10px;

}

.box {
    margin: 0.5rem;
    border: 1px solid rgb(0, 0, 0, .1);
    background-color: #eee;
    color: #000;

}

aside {
    position: relative;

}

aside img {
    margin-left: 5px;
}

h2 {
    position: absolute;
    top: 1%;
    left: 14%;
}

.indent {
    grid-column: 1 / 3;
    padding: 1.5rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}